<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amit.congressapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Widget.TabWidget">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".legDetailActivity"
            android:parentActivityName=".MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.amit.congressapp.MainActivity" />
        </activity>
        <activity
            android:name=".billDetailActivity"
            android:parentActivityName=".MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.amit.congressapp.MainActivity" />
        </activity>
        <activity
            android:name=".comDetailActivity"
            android:parentActivityName=".MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.amit.congressapp.MainActivity" />
        </activity>
        <activity android:name=".AboutMe"
            android:parentActivityName=".MainActivity"
            >
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.amit.congressapp.MainActivity"/>
        </activity>
    </application>

</manifest>